.fill {
    background-color: red;
}

.fill2 {
    background-color: rgb(110, 22, 22);
}

.logo {
    width: 230px;
    margin: auto;
    display: block;
}

.logo-footer {
    width: 230px;
    float: left;
}

.nav-center {
    margin: auto;
    display: block;
}

.nav-design {
    border-image: linear-gradient(#886e36, #d5bc6e) 30;
    border-width: 4px;
    border-style: solid;
}

body {
    background-image: url("src/bg.png");

    /* Set a specific height */
    min-height: 100vh;
    overflow-x: hidden;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    z-index: 100;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
/*     background-image: url("src/overlay.png");
    background-size: contain;
    background-repeat: no-repeat; */
    height: calc(0.49493813273340832395950506186727 * 100vw);
}

.section-main {
    position: relative;
    display: flex;
    margin: -12px auto 0 auto;
    padding: 0;
}





.nav-custom {
    background-color: transparent;
    backdrop-filter: blur(7px);
}



#button1 {
    text-align: center;
    margin: 10px auto;
    display: block;
}
.nav-item {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.content-area {
    background-color: whitesmoke;
    margin-top: 140px;
    box-shadow: 0px 0px 15px black;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 40px;
}

.content-area-dark {
    background-color: #202020;
    margin-top: 140px;
    box-shadow: 0px 0px 15px black;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 40px;
    color: whitesmoke;
    min-height: 800px;
}

.content-area-inner {
    width: 1200px;
    display: block;
    margin: 0 auto;
}

.sidebar {
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 3px 0px 15px rgb(160, 160, 160);
    background-color: white;
    padding: 20px 40px 20px 40px;
    font-family: 'Montserrat', sans-serif;
}

.caption-h3 {
    font-size: 1.6em;
    text-align: left;
}



.forumbtn {
    height: 40px;
    background-color: #886e36;
    color: white;
    font-size: .95em;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0 15px 0 15px;
}

.backbtn {
    height: 40px;
    background-color: #333;
    color: white;
    font-size: .95em;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0 15px 0 15px;
}

.backbtn:hover {
    background-color: #555;
}


/* -------------------------- FORUM -------------------------*/


.section-inner {
    max-width: 1500px; 
}

#img-splash {
    width: 100%
}

.section-title-main {
    color: #aa9151;
    font-size: 3.8em;
    text-align: center;
    font-family: 'Florentia', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 90%;
    margin: 0;
}

.section-title-secondary {
    font-size: 2em;
    color: #C9C9C9;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.carousel2 .card{
    background-color: transparent;
    border: none;
}

.carousel2 {
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-columns: calc((100% / 3) - 12px); 
    gap: 15px;  
    overflow-x: hidden;
}

.footer {
    width: 1200px;
    display: block;
    margin: 0 auto;
    padding: 40px 0 40px 0;
}

.footer p {
    color: #C9C9C9;
    font-family: "Montserrat", sans-serif;
}

.footer-pbox {
    float: left;
}

.footer-pbox p{
    line-height: 1.2em;
}

.footer-list {
    list-style-type: none;
    color: #C9C9C9;
    line-height: 1.2em;
    text-align: right;
    font-family: "Montserrat", sans-serif;
}

.footer-list a:link {
    color: #C9C9C9;
    text-decoration: none;
}

.footer-list a:visited {
    color: #C9C9C9;
    text-decoration: none;
}

.footer-list a:hover {
    color: whitesmoke;
    text-decoration: none;
}

.footer-list a:active {
    color: white;
    text-decoration: none;
}

.forum-top-container {
    padding: 40px 0 20px 0;
    color: whitesmoke;
}


.newtopic-btn {
    float: right;
}

.table-topic {
    width: 100%;
    color: whitesmoke;
    border-radius: 30px;
}

.table-topic th {
    background-color: rgb(27, 27, 27);
    padding: 15px;
}

.table-topic tr {
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0, 0.8);
}

.table-topic tr:hover {
    background-color: #555;
}

.table-topic td {
    background-color: rgb(41, 41, 41);
    padding: 20px 15px 20px 15px;
}

.table-topic a{
    text-decoration: none;
    color: whitesmoke;
}

.profilepic-small {
    width: 30px;
    border-radius: 50%;
}

.forum-title {
    padding-top: 30px;
    font-size: 2em;
}

.post-editor {
    width: 800px;
    margin: auto;
}

.post-editor input[type='text'] {
    width: 100%;
    background-color: rgb(36, 36, 36);
    color: white;
    border: 1px #555 solid;
    padding: 8px;
    border-radius: 6px;
}

.post-editor input[type='text']:focus {
    outline: none;
    border: 1px rgb(131, 131, 131) solid;
}


.post-editor input[type='submit'] {
    margin: 15px auto;
    display: block;
}

.post-editor textarea {
    width: 100%;
    background-color: rgb(36, 36, 36);
    color: white;
    border: 1px #555 solid;
    padding: 8px;
    border-radius: 6px;
}


.post-editor textarea:focus {
    outline: none;
    border: 1px rgb(131, 131, 131) solid;
}

.profile-card {
    margin-top: 40px;   
    display: inline-block;

}

.profile-card2 {
    margin-top: 10px;   
}

.profile-card img {
    margin: 0 8px;
    display: inline-block;
}

.profile-card h5 {
    display: inline-block;

}

.profile-card a {
    text-decoration: none;
    color: whitesmoke;

}

.topic-desc {
    margin: -5px 0 0 0;
    color: #909090;
}

.btright {
    float: right;
}


.table-posts {
    width: 100%;
    color: whitesmoke;
    border-radius: 15px;
}

.post-main {
    width: 90%;
    background-color: rgb(41, 41, 41);
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
}


.post-line {
    background-color: #555;
    border: none;
    height: 1px;
}

.pc-post {
    margin: 0;
}

.post-text {
    font-size: 1.2em;
}

.post-date {
    float: right;
    font-size: 1.1em;
    color: rgb(145, 145, 145);
}

.profilepage-pic{
    margin-top: 40px;
    height: 400px;
}

.c-inner {
    margin-top: 40px;
}

.members-list {
    margin: 20px 0 0 0 ;
    list-style-type: none;
}

.members-list li {
    margin: 10px;
}